html
    head 
        meta(charset="UTF-16")
        title Game List
        //- link(rel="stylesheet", type='text/css', href="css/createGameStyles.css")
        //- script(src='/js/adminGameOverview.js' defer)
        
    body 
        each property in test 
            p= property
