html
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title XXX
        //- link(rel="stylesheet", type='text/css', href="/css/XXX.css")
        script(src='/js/logout.js' defer)
    body
        p totalt hemmeligt det her
        button(id='logout') Log Out