html
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title XXX
        //- link(rel="stylesheet", type='text/css', href="/css/XXX.css")
        script(src='js/login.js' defer)
    body
        div(id='login')
            label(for="user") username 
            input(type='text', id='user')
            label(for="pass") password
            input(type='text', id='pass')
            button(type='submit') ok