#top {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    "";

}

#Bottom {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    "";

}