#allStatsContainer {
    display: grid;
    grid-auto-flow: column;

}

.statContainer {
    margin: auto;
    max-width: 25vw;
    max-height: 25vw;
    height: 6rem;
    width: 8rem;
    text-align: center;
    border-radius: 1rem;
    border: 0.25rem outset black;
}

.statContainer > img {
    margin: 0.5rem auto auto auto;
    width: 2rem;
    height: 2rem;
}

.statContainer > p {
    margin: auto;
    font-size: large;
    font-weight: bold;
}

#dateContainer {
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
}