.container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 2fr, 2fr, 2em;
    grid-template-areas: 
                "header header header"
                "image1 text1 text1"
                "image2 text2 text2"
                ". footerlink footerlink";
}

.header {
    grid-area: header;
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.footerlink {
    grid-area: footerlink;
}