doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ShelfHelp
    body
        for game in games
            p= `${game.title} : ${Math.ceil(game.x)}x${Math.ceil(game.y)}x${Math.ceil(game.z)}`
